.HeroCard__Container {
    display: none;
}
@media screen and (min-width: 1024px) and (orientation: landscape), (orientation: landscape) {
    .Contact__Container {
        grid-area: form;
        align-self: center;
        // background-color: aqua;
        .Contact__Aligner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // min-height: 100%;
            margin-top: 2.5rem;
        }
    }
}
@media screen and (min-width: 1025px) {
    .Contact {
        display: grid;
        grid-template-areas: 
        "form card";
        // background-color: brown;
        width: 100%;
    }
    .Contact__Container {
        grid-area: form;
        align-self: center;
        // background-color: aqua;
        .Contact__Aligner {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            // min-height: 100%;
            margin-top: 2.5rem;
        }
    }
    .Contact__BulletContact {
        display: none;
    }
    .HeroCard__Container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 100%;
        // background-color: aqua;
        grid-area: card;
        .HeroCard__Sizer {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 80%;
            // background-color: blueviolet;
        }
    }
}