.Navbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    padding: 2rem 0;
    border-bottom: 1px solid var(--border-on-color);
    
    background: rgba( 15, 14, 15, 0.25 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );


    .option {
        margin-inline: 1.3rem;
        font-size: 1.7rem;
        color: rgba(178,178,178,1);

        &:hover {
            color: rgb(255, 255, 255);
            text-shadow: 0rem 0rem .2rem rgba(250, 250, 250, .2);  
        }
    }

    .active {
        color: rgba(255,255,255, 1);
    }

    .follow__bar {
        display: none;
        position: absolute;
        bottom: 10%;
        left: 0;
        background-color: rgba(223, 26, 92, 1);
        width: 1rem;
        height: .4rem;
        border-radius: 2rem;
    }
}

.brilliant {
    position: relative;
    color: rgb(229, 158, 0) !important;
    animation: glow 3s linear infinite;

    &::after {
        content: 'temp_preferences_custom';
        font-family: 'Material Symbols Outlined';
        position: absolute;
        bottom: 62%;
        left: 60%;
        font-size: 1.2rem; 
        color: rgb(229, 158, 0);
        text-shadow: 0rem 0rem .4rem rgb(229, 158, 0);   
        border-radius: 50%;
        animation: glow 1s linear infinite;
    }

    &:hover {
        color: rgba(255,177,39,1) !important;
    }

}

.active_brilliant {
    position: relative;
    color: rgb(255, 191, 54) !important;
    animation: glow 3s linear infinite;

    &::after {
        content: 'temp_preferences_custom';
        font-family: 'Material Symbols Outlined';
        position: absolute;
        bottom: 62%;
        left: 60%;
        font-size: 1.2rem; 
        color: rgb(229, 158, 0);
        text-shadow: 0rem 0rem .4rem rgb(255, 189, 47);   
        border-radius: 50%;
        animation: glow 1s linear infinite;
    }

    &:hover {
        color: rgba(255,177,39,1) !important;
    }

}

@keyframes glow {
    0% {
        text-shadow: 0rem 0rem .4rem rgba(229, 158, 0, .3);  
    }
    50% {
        text-shadow: 0rem 0rem .4rem rgba(229, 158, 0, 0);  
    }
    100% {
        text-shadow: 0rem 0rem .4rem rgba(229, 158, 0, .3);  
    }
}

/* Medium screens (tablets) */
@media screen and (min-width: 1024px), (orientation: landscape){
    .Navbar {
        display: flex;
        flex-direction: column !important;
        justify-content: flex-start;
        align-items: center;
        width: 10vw;
        min-width: 10vw;
        max-width: 12vw;
        height: 100%;
        // max-height: 100vmin;
        padding: 2rem 0;
        border-bottom: 0;
        border-right: 1px solid var(--border-on-color);
        
        background: rgba( 15, 14, 15, 0.25 );
        backdrop-filter: blur( 6px );
        -webkit-backdrop-filter: blur( 6px );

        .Navbar__container {
            // position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: inherit;
            // position: absolute;
            top: 0;
        }
    
    
        .option {
            margin: 1.3rem;
            font-size: 1.7rem;
            color: rgba(178,178,178,1);
    
            &:hover {
                color: rgb(255, 255, 255);
                text-shadow: 0rem 0rem .2rem rgba(250, 250, 250, .2);  
            }
        }
    
        .active {
            color: rgba(255,255,255, 1);
        }
    
        .follow__bar {
            position: absolute;
            bottom: 10%;
            left: 0;
            background-color: rgba(223, 26, 92, 1);
            width: 1rem;
            height: .4rem;
            border-radius: 2rem;
        }
    }
  }
  
  /* Large screens (desktops) */
  @media screen and (min-width: 1025px) {
    .Navbar {
        display: flex;
        flex-direction: column !important;
        justify-content: flex-start;
        align-items: center;
        width: 6vw;
        min-width: 6vw;
        max-width: 28% !important;
        height: 100%;
        // max-height: 100vmin;
        padding: 2rem 0;
        border-bottom: 0;
        border-right: 1px solid var(--border-on-color);
        
        background: rgba( 15, 14, 15, 0.25 );
        backdrop-filter: blur( 6px );
        -webkit-backdrop-filter: blur( 6px );

        .Navbar__container {
            // position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: inherit;
            // position: absolute;
            top: 0;
        }
    
    
        .option {
            margin: 1.3rem;
            font-size: 1.7rem;
            color: rgba(178,178,178,1);
    
            &:hover {
                color: rgb(255, 255, 255);
                text-shadow: 0rem 0rem .2rem rgba(250, 250, 250, .2);  
            }
        }
    
        .active {
            color: rgba(255,255,255, 1);
        }
    
        .follow__bar {
            position: absolute;
            bottom: 10%;
            left: 0;
            background-color: rgba(223, 26, 92, 1);
            width: 1rem;
            height: .4rem;
            border-radius: 2rem;
        }
    }
  }


// @media screen and (min-width: 768px) {
    // .Navbar {
    //     display: flex;
    //     flex-direction: column !important;
    //     justify-content: center;
    //     align-items: center;
    //     width: inherit;
    //     height: 100%;
    //     // max-height: 100vmin;
    //     padding: 2rem 0;
    //     border-bottom: 0;
    //     border-right: 1px solid var(--border-on-color);
        
    //     background: rgba( 15, 14, 15, 0.25 );
    //     backdrop-filter: blur( 6px );
    //     -webkit-backdrop-filter: blur( 6px );

    //     .Navbar__container {
    //         // position: fixed;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         align-items: center;
    //         width: inherit;
    //         // position: absolute;
    //         top: 0;
    //     }
    
    
    //     .option {
    //         margin-inline: 1.3rem;
    //         font-size: 1.7rem;
    //         color: rgba(178,178,178,1);
    
    //         &:hover {
    //             color: rgb(255, 255, 255);
    //             text-shadow: 0rem 0rem .2rem rgba(250, 250, 250, .2);  
    //         }
    //     }
    
    //     .active {
    //         color: rgba(255,255,255, 1);
    //     }
    
    //     .follow__bar {
    //         position: absolute;
    //         bottom: 10%;
    //         left: 0;
    //         background-color: rgba(223, 26, 92, 1);
    //         width: 1rem;
    //         height: .4rem;
    //         border-radius: 2rem;
    //     }
    // }
// }